/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face{
 	font-family: "DarkLarch";
 	src: url("DarkLarch_PERSONAL_USE.ttf");
 }
 @font-face{
 	font-family: "Agreloy";
 	src: url("Agreloy.ttf");
 }
 @font-face{
 	font-family: "BroshK";
 	src: url("BroshK.ttf");
 }
 body, html{
 	margin: 0;
     font-style: italic;
  height: 100%;

 	overflow: hidden;
 	font-family: BroshK;

 	font-size: 24px;
 }
 span{
 	transition: all 1s ease-in;
 }
 li div{
 	margin-bottom: 10px;
 }
 .poem_wrap{

 }
 .bars{

 	margin: 0;
 	padding: 0;
 	min-height: 25%;
 	max-height: 25%;
 }
 #progress{
    transition: all 1s ease-in-out;
 }
 /*.bg-body:after {
   content: "";
   display: block;
   position: fixed;

   top: 0;
   width: 100%;

   height: 100%;
   z-index: -10;
   overflow: hidden;

   background-color: black;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }*/
 button{
 	width: 50%;
 	height: 50px;
 	text-align: center;
 }
 .common{
 	background-color: black;
 	transition: all 0.5s ease-in-out;
 	color: white;
 	cursor: pointer;
 	width: 50%;
 	text-align: center;
 }

 .rightbtn{
 	float: right;
 }
 .rightbtn:hover{
 	background-color: #00ff00;
 }
 .leftbtn{
 	transition: all 0.5 ease-in-out;
 	float: left;
 }
 .leftbtn:hover{
 	background-color: rgb(255, 59, 63);
 }
 #poem_wrap{
 	transition-property: background-color;
 	transition-duration: 1.5s;

 	height: 50%;
 	max-width: 100% !important;
 }
 #poem{

 	padding: 0;
 	height: 100%;
 	margin: 0;
 	text-align: center;
 	color: #a9a9a9;
 	overflow: hidden;
 	width: 100%;
 	max-width: 100% !important;
 	list-style: none;
 }
 #poem li{
 	position: absolute;
 	transition:all 0.5s ease-in;
 	padding: 10px;
 	left: 0;
 	right: 0;
 	margin: 0 auto;
 	opacity: 0;
 }
 #poem li p{
 	margin: 0;

 }
 .heading{

 	animation-name: heading;
 	animation-duration: 2s;
 	animation-fill-mode: forwards;
 }
 //Animations
 @-webkit-keyframes heading{
 		from {width: 0;}
 		to { width: 100%;}
 }
 @keyframes heading{
 	from {width: 0;}
 	to { width: 100%;}
 }
 @-webkit-keyframes opening{
 	0%{}
 	50%{}
 	100%{}
 }
 @keyframes opening{

 }
